
 h1{
     font-size: 50px;
     font-family:Georgia, 'Times New Roman', Times, serif;
     position: relative;
     left:400;
     top:20;
}

table{
    border: 2px;
}
td ,tr , th {
    border: 2px;
    border-color: brown;
    border-collapse: collapse;
}